In [15]:
#import pandas
import pandas as pd
 
# read csv file
df = pd.read_csv('BankChurners.csv')

In [16]:
df["Gender"].unique()

array(['M', 'F'], dtype=object)

In [17]:
# replacing values for Gender
df['Gender'].replace(['F', 'M'],
                        [0, 1], inplace=True)

In [18]:
df["Education_Level"].unique()

array(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

In [19]:
# replacing values for Education_Level
df['Education_Level'].replace(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'],
                        [2, 4, 1, 0,3,5,6], inplace=True)

In [20]:
df['Education_Level']

0        2
1        4
2        4
3        2
4        1
        ..
10122    4
10123    0
10124    2
10125    4
10126    4
Name: Education_Level, Length: 10127, dtype: int64

In [22]:
df["Attrition_Flag"].unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [23]:
# replacing values for Attrition_Flag
df['Attrition_Flag'].replace(['Existing Customer', 'Attrited Customer'],
                        [1, 0], inplace=True)

In [26]:
df["Marital_Status"].unique()

array(['Married', 'Single', 'Unknown', 'Divorced'], dtype=object)

In [27]:
# replacing values for Marital_Status
df["Marital_Status"].replace(['Married', 'Single', 'Unknown', 'Divorced'],
                        [2,1,0,3], inplace=True)

In [28]:
df["Income_Category"].unique()

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

In [29]:
df["Income_Category"].replace(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'],
                        [3, 1, 4, 2,5,0], inplace=True)

In [31]:
df["Card_Category"].unique()

array(['Blue', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [32]:
# replacing values for Card_Category
df['Attrition_Flag'].replace(['Blue', 'Gold', 'Silver', 'Platinum'],
                        [1, 3,2,4], inplace=True)