In [10]:
#import pandas
import pandas as pd
 
# read csv file
df = pd.read_csv('../Data/BankChurners.csv')

In [11]:
df.shape

(10127, 23)

In [12]:

# Assuming your DataFrame is named df
unknown_count = {}  # Dictionary to store column-wise counts

for column in df.columns:
    unknown_count[column] = df[column].apply(lambda x: 1 if x == "Unknown" else 0).sum()

# Filter columns with "Unknown" values
unknown_columns = {key: value for key, value in unknown_count.items() if value > 0}

print("Columns with 'Unknown' values:")
for column, count in unknown_columns.items():
    print(f"Column '{column}' has {count} 'Unknown' values.")

Columns with 'Unknown' values:
Column 'Education_Level' has 1519 'Unknown' values.
Column 'Marital_Status' has 749 'Unknown' values.
Column 'Income_Category' has 1112 'Unknown' values.

In [27]:
# Count the number of 'unknown' values per row and check if it's greater than 2
row_counts = df.apply(lambda row: (row == 'Unknown').sum(), axis=1)
count_of_rows_with_more_than_2_unknown = (row_counts == 2).sum()

print("Number of rows with more than 2 'unknown' values:", count_of_rows_with_more_than_2_unknown)

Number of rows with more than 2 'unknown' values: 320

In [25]:
df["Gender"].unique()

array(['M', 'F'], dtype=object)

In [26]:
# replacing values for Gender
df['Gender'].replace(['F', 'M'],
                        [0, 1], inplace=True)

In [27]:
df["Gender"].describe

<bound method NDFrame.describe of 0        1
1        0
2        1
3        0
4        1
        ..
10122    1
10123    1
10124    0
10125    1
10126    0
Name: Gender, Length: 10127, dtype: int64>

In [28]:
df["Education_Level"].unique()

array(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

In [29]:
# replacing values for Education_Level
df['Education_Level'].replace(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'],
                        [2, 4, 1, 0,3,5,6], inplace=True)

In [30]:
df['Education_Level']

0        2
1        4
2        4
3        2
4        1
        ..
10122    4
10123    0
10124    2
10125    4
10126    4
Name: Education_Level, Length: 10127, dtype: int64

In [31]:
df["Attrition_Flag"].unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [32]:
# replacing values for Attrition_Flag
df['Attrition_Flag'].replace(['Existing Customer', 'Attrited Customer'],
                        [1, 0], inplace=True)

In [33]:
df["Marital_Status"].unique()

array(['Married', 'Single', 'Unknown', 'Divorced'], dtype=object)

In [34]:
# replacing values for Marital_Status
df["Marital_Status"].replace(['Married', 'Single', 'Unknown', 'Divorced'],
                        [2,1,0,3], inplace=True)

In [35]:
df["Income_Category"].unique()

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

In [37]:
df["Income_Category"].replace(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'],
                        [3, 1, 4, 2,5,0], inplace=True)

In [38]:
df["Card_Category"].unique()

array(['Blue', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [39]:
# replacing values for Card_Category
df['Card_Category'].replace(['Blue', 'Gold', 'Silver', 'Platinum'],
                        [1, 3,2,4], inplace=True)

In [40]:
df.to_csv('../Data/clean_data.csv', index=False)  # Save as CSV